* {
    margin: 0;
    padding: 0;
    font: inherit;
}

:root {
    --brand-color: #EF5F4C;
    --background-color: #FFFFFF;
    --surface-color: #F5F5F5;
    --skeleton-color: #D9D9D9;
    --shape-transparency: #FFFFFF;
    --text-color-primary: #313131;
    --text-color-secondary: #6C6C6C;
    --ff-sans: "Poppins", sans-serif;
    --heading1: 700 1.5rem/125% var(--ff-sans);
    --paragraph-md: 400 .875rem/170% var(--ff-sans);
    --paragraph-sm: 400 .75rem/170% var(--ff-sans);
    --px-md: 1rem;
    --px-lg: 2rem;
    --py-sm: 1rem;
    --py-md: 1rem;
    --py-lg: 2rem;
}

html {
    font: var(--paragraph-md);
    color: var(--text-color-secondary);
    overflow-x: hidden;
    scroll-behavior: smooth;
}

nav {
    & a:hover {
        & svg {
            stroke: var(--brand-color);
        }
    }
}

ul[role='list'] {
    list-style: none;
}

h1 {
    font: var(--heading1);
    color: var(--text-color-primary);
}

a {
    text-decoration: none;
}

a:hover {
    color: var(--brand-color);
    text-decoration: underline;
}

@media (width >= 80em) {
    :root{
        --heading1: 700 2rem/125% var(--ff-sans);
        --px-md: 2rem;
        --px-lg: 2rem;
        --py-sm: 1.25rem;
        --py-md: 1.5rem;
        --py-lg: 2rem;
    }
    
}